<!--<div style="display: flex">-->
<!--  <div style="flex-grow: 0">-->
<!--    &lt;!&ndash;    <nz-avatar [nzSize]="48" nzIcon="user"></nz-avatar>&ndash;&gt;-->
<!--  </div>-->
<!--  <div style="flex-grow: 1; display: flex; flex-direction: column">-->
<!--    <div>{{itemData.title}}</div>-->
<!--    <div style="display: flex; justify-content: space-between">-->
<!--      <div>{{itemData.sender}}</div>-->
<!--      <div>{{itemData.sendTime}}</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
